.app-container {
  height: 100%;
  width: 100%;
  .body-content {
    display: flex;
    height: 100%;
    width: 100%;

    .navigation {
      width: 20%;
      padding-right: 2em;

      .mat-divider-inset {
        margin-left: 0;
      }
    }
    .main-content {
      flex: 1;
    }
  }
}
