<div class="wrapper" (click)="getScore()">
  <div class="operation-wrapper">
    <div class="score">
      <app-score-table [score]="score" [question]="question" [total]="totalScore"></app-score-table>
    </div>
    <div class="actions">
      @if (status == LESSON_STATUS.ReadyToStart) {
        <button mat-flat-button color="primary" (click)="onStart($event)">Bắt Đầu Học</button>
      } @else if (status == LESSON_STATUS.InProgress) {
        <button mat-flat-button color="warn" (click)="onPause($event)">Tạm Dừng</button>
      } @else if (status == LESSON_STATUS.OnPause) {
        <button mat-flat-button color="primary" (click)="onResume($event)">Tiếp Tục</button>
      } @else if (status == LESSON_STATUS.EndLesson) {
      <button mat-flat-button color="primary" (click)="OnContinue($event)">Bắt Đầu Học</button>
      }

      @if (language == "english" && (status == LESSON_STATUS.ReadyToStart || status == LESSON_STATUS.EndLesson)) {
      <button mat-flat-button color="primary" (click)="playAlphabetSong($event)">Alphabet Song</button>
      }
    </div>
    <div class="clock">
      <app-countdown-timer [timeLimit]="thinkingTime" (timesUp)="onTimesUp()" [restartTimer]="resetTimer"></app-countdown-timer>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="lesson-container">
    <p [innerHTML]="message | safeHtml"></p>
    @if(playingSong) {
    <div class="video-container">
      <iframe
        width="560"
        height="315"
        [src]="videoUrl"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
    }
  </div>
  <mat-divider></mat-divider>

  <div class="need-to-improve-container">
  @if (status == LESSON_STATUS.EndLesson && needMorePractice.size > 0) {
    @for (letter of needMorePractice; track letter) {
      <span [innerHTML]="letter | safeHtml"></span>
    }
  }
  </div>
</div>
