.app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;

  a {
    text-decoration: none;

    &.active {
      background-color: pink;
      .mat-mdc-list-item {
        background-color: inherit;
      }
    }
  }

  .mat-sidenav {
    padding: 0 10px;

    .mat-mdc-nav-list {
      a > mat-list-item{
        margin-bottom: 10px;
      }
    }
  }
  .main-content-wrapper {
    padding: 0 20px;
  }
}
